<div class="col-md-4">
    <h2>My Resume</h2>
    <p>If you would like to directly download my resume right now, you can click the button below. This will start the
        download of the pdf file for my resume. As I said previously, there is not much on it, and I don't have much
        experience. Since this is one of the first major website projects I have coded myself, everything is very basic.
        I hope one day to work for a great company, so please consider yours today!</p>
    <p><a class="btn btn-secondary" href="img\BMC_Resume.pdf" download role="button">View details &raquo;</a></p>
</div>