<div class="col-md-4">
    <h2>Welcome!</h2>
    <p>I am currently a student at New Jersey Institute of Technology and I am attempting to learn how to code websites! I
        am an Information Systems major and would eventually like to start my own company one day, so I am obtaining a
        minor in business. I still have very basic coding knowledge, but I am trying to learn as quick as I can so that
        I can code my own projects, similar to this one. Hopefully one day I can be working for a great company,
        possibly one that is viewing this right now! </p>
    <p><a class="btn btn-secondary" href="https://github.com/seanmc84" role="button">View details &raquo;</a></p>
</div>