<div class="col-md-4">
    <h2>My LinkedIn</h2>
    <p>My LinkedIn is not very special, I have almost nothing to show. My Resume is not that good and I do not have
        anything that is interesting like some other people do. I have not done many projects, but I am trying to learn
        the best that I can to code so I can do some myself. I hope one day to start my own company or just work
        freelance coding websites. I am still learning though, so I have nothing to show right now. Hopefully some time
        in the near future I will have some projects that reflect how well I can code. For now, this is all I have.
        Click the button below to visit my LinkedIn Profile. </p>
    <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/sean-conroy-79509b199/" role="button">View details
        &raquo;</a></p>
</div>