body {
    padding-top: 5rem;
}
.scroller {
    overflow-y: scroll;
    width: 750px;
    height: 375px;
    margin: 0 auto;
}
.slide1, .slide2, .slide3 {
    min-height: 560px;
    background-size: cover;
    background-position: center center;
}
.slide1 {
    background-image: url();
}
.slide2 {
    background-image: url();
}
.slide3 {
    background-image: url();
}

.carousel.carousel-fade .item {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity: .5;
}
.carousel.carousel-fade .active.item {
    opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel-overlay {
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
}

