body {
    padding-top: 5rem;
}
.scroller {
    overflow-y: scroll;
    width: 750px;
    height: 375px;
    margin: 0 auto;
}
.slide1, .slide2, .slide3, {
    min-height: 560px;
    background-size: cover;
    background-position: center center;
}
.slide1 {
    background-image: url({{ site.url }}/assets/images/slide1.png);
}
.slide2 {
    background-image: url({{ site.url }}/assets/images/slide2.jpg);
}
.slide3 {
     background-image: url({{ site.url }}/assets/images/slide3.jpg);
 }


.carousel.carousel-fade .item {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity: .5;
}
.carousel.carousel-fade .active.item {
    opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel-overlay {
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}
.carousel-overlay {
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
}

.carousel-overlay h1 {
    font-size: 3.5em;
}
.carousel-overlay .btn {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #398439;
    border-radius: 6px;
}
.carousel-overlay .btn-lg {
    font-size: 1.75em;
    padding: 10px 30px;
}
.column-narrow{
    width: 30%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}
.column-wide{
    width: 70%;
    float: left;
    min-height: 225px;
}
.ft10 {
    font-size: 11px;
    font-family: Times;
    color: #666666;
}

.ft11 {
    font-size: 52px;
    font-family: Times;
    color: #000000;
}

.ft12 {
    font-size: 11px;
    font-family: Times;
    color: #000000;
}

.ft13 {
    font-size: 11px;
    font-family: Times;
    color: #000000;
}

.ft14 {
    font-size: 11px;
    font-family: Times;
    color: #1f79c6;
}

.ft15 {
    font-size: 11px;
    font-family: Times;
    color: #b7b7b7;
}

.ft16 {
    font-size: 14px;
    font-family: Times;
    color: #000000;
}

.ft17 {
    font-size: 14px;
    font-family: Times;
    color: #000000;
}

.ft18 {
    font-size: 14px;
    font-family: Times;
    color: #000000;
}

.ft19 {
    font-size: 10px;
    font-family: Times;
    color: #666666;
}

.ft110 {
    font-size: 12px;
    font-family: Times;
    color: #1f79c6;
}

.ft111 {
    font-size: 16px;
    font-family: Times;
    color: #000000;
}

.ft112 {
    font-size: 11px;
    font-family: Helvetica;
    color: #343434;
}

.ft113 {
    font-size: 11px;
    font-family: Times;
    color: #666666;
}

.ft114 {
    font-size: 11px;
    line-height: 16px;
    font-family: Times;
    color: #666666;
}

.ft115 {
    font-size: 11px;
    line-height: 19px;
    font-family: Times;
    color: #000000;
}

